@model IEnumerable<Orchestrate.Models.ProjectListItem>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/bootstrap.min.js"></script>

<h2>Projects</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artist)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.ArtistName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProjectId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })
            </td>
        </tr>
    }

</table>

@*<div class="col-lg-6">*@
<div class="container">
    <div class="row">

        <div class="form-group">
            <canvas id="genreChart" width="800" height="300"></canvas>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Chart.js"></script>
    <script>
        var c = document.getElementById("genreChart");
        var ctx = c.getContext("2d");
        var myDonutChart = new Chart(ctx, {
            type: 'doughnut',
            data:
            {
                labels: ["Alternative", "Blues", "Comedy", "Children's Music", "Classical", "Country", "Electronic", "Holiday", "Opera", "Singer/Songwriter", "Jazz", "Latino", "New Age", "Pop", "R&B/Soul", "Soundtrack", "Dance", "Hip-Hop/Rap", "World", "Rock", "Christian & Gospel", "Vocal", "Reggae", "Easy Listening", "J-Pop", "Enka", "Kayokyoku", "Fitness & Workout", "K-Pop", "Karaoke", "Instrumental", "Brazilian", "Spoken Word"],
                datasets: [{
                    labels: 'Recorded Projects by Genre',
                    data: [@ViewBag.GenreData],
                    backgroundColor: [
                        '#00CCFF',
                        '#CC9966',
                        '#660000',
                        '#003333',
                        '#0000FF',
                        '#FFFF00',
                        '#FF6600',
                        '#CCFFFF',
                        '#9999FF',
                        '#999900',
                        '#996666',
                        '#BF360C',
                        '#607D8B',
                        '#F48FB1',
                        '#990099',
                        '#00BCD4',
                        '#795548',
                        '#33FF33',
                        '#F9E79F',
                        '#FF0000',
                        '#5D6D7E',
                        '#839192',
                        '#9933FF',
                        '#66FFFF',
                        '#003300',
                        '#FFFF99',
                        '#333399',
                        '#990033',
                        '#FF33CC',
                        '#CCFF00',
                        '#666666',
                        '#666633',
                        '#99CCCC'
                    ],
                    borderWidth: 0.5,
                    borderColor: '#777',
                    hoverBorderWidth: 2,
                    hoverBorderColor: '#777'
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Projects Sorted by Genre',
                    fontSize: 25
                },
                legend: {
                    display:false
                }
            }
        });
    </script>
}
