@model Orchestrate.Models.ArtistDetail

@{
    ViewBag.Title = "Delete";
}
<script src="~/Scripts/bootstrap.min.js"></script>

<h2 class="text-center" id="textwhite">Delete</h2>
<h3 class="text-center" id="textwhite" style="font-size: 80%;">Are you sure you want to delete this?</h3>
<div id="notecardform2" style="background-color: rgba(252,252,252,0.2)">
    <dl class="dl-horizontal" id="detailspage">
        <dt>
            @Html.DisplayNameFor(model => model.ArtistId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtistId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtistName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMembers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMembers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center" id="submitbuttondiv2">
            <input type="submit" value="Delete" class="btn btn-default" id="submitbutton" /> |            
        </div>
    }
</div>
<div class="text-center" style="padding-top:10px;">
    @Html.ActionLink("Back to List", "Index", null, new { style = "color:white;" })
</div>
