@model Orchestrate.Models.ArtistDetail

@{
    ViewBag.Title = "Details";
}
<script src="~/Scripts/bootstrap.min.js"></script>

<h2 class="text-center" id="textwhite">Details</h2>

<div id="notecardform2" style="background-color: rgba(252,252,252,0.2)">
    <dl class="dl-horizontal" id="detailspage">
        <dt>
            @Html.DisplayNameFor(model => model.ArtistId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtistId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtistName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMembers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMembers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

    </dl>
</div>
<p class="text-center">
    @Html.ActionLink("Edit", "Edit", null, new { id=Model.ArtistId, style = "color:white;"})
    |
    @Html.ActionLink("Back to List", "Index", null, new { style = "color:white;" })
</p>
