@model IEnumerable<Orchestrate.Models.ArtistListItem>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/bootstrap.min.js"></script>

<body id="artistindexbody">
    <div class="jumbotron" id="tablesJumbotron">
        <div class="container">
    <h2 class="text-center">Artists</h2>
    <h4 class="text-center">Enter all of the Artists that you currently manage</h4>
    <p class="text-center">
        @Html.ActionLink("Add Artist", "Create", null, new { style = "color: white; font-size: 12px;" })
    </p>

        </div>
    </div>


    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }
        <section>
            <div class="container" id="tablestable">
                <div class="tbl-header">
                    <table class="table" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ArtistId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ArtistName)
                            </th>
                            <th></th>
                        </tr>
                    </table>
                </div>
                <div class="tbl-content">
                    <table cellpadding="0" cellspacing="0" border="0">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ArtistId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ArtistName)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ArtistId, style = "color:white;" }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ArtistId, style = "color:white;" }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ArtistId, style = "color:white;" })
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </section>
</body>