@model Orchestrate.Models.ShowDetail

@{
    ViewBag.Title = "Details";
}
<script src="~/Scripts/bootstrap.min.js"></script>

<h2 class="text-center" id="textwhite">Details</h2>

<div id="notecardform2" style="background-color: rgba(252,252,252,0.2); padding-top: 30px;">
    <dl class="dl-horizontal" id="detailspage">
        <dt>
            @Html.DisplayNameFor(model => model.ShowId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artist.ArtistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist.ArtistName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityOfVenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityOfVenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sales)
        </dd>

    </dl>
</div>
<p class="text-center" style="padding-top: 15px;">
    @Html.ActionLink("Edit", "Edit", null, new { id=Model.ShowId, style = "color:white;" }) |
    @Html.ActionLink("Back to List", "Index", null, new { style = "color:white;"})
</p>
